<div id="pjax-table"
  data-pjax-table 
  data-pjax-container="#pjax-table"
  data-url="/" >
  <table class="table pjax-table"
    data-total-rows="{{ total_rows }}"
    data-current-sort-property="{{ sort_property }}"
    data-current-sort-order="{{ sort_order }}"
    data-current-search-str="{{ current_search_str }}">
    <thead>
      {{{ header_rows }}}
    </thead>
    <tbody>
      {{{ body_rows }}}
    </tbody>
    <tfoot>
      {{{ footer_rows }}}
    </tfoot>
  </table>
  <div>
    {{{ pagination }}}
  </div>
</div>
