<div id="fifty-table" 
  data-fifty-table-id="wrapper-id" 
  data-pjax-container="#fifty-table" 
  data-push-state-enabled="true" 
  data-paginated="true">
  <div id="wrapper-id" class="table-wrapper" data-total-rows="{{ total_rows }}">
    <table class="table">
      <thead>
        {{{ header_rows }}}
      </thead>
      <tbody>
        {{{ body_rows }}}
      </tbody>
      <tfoot>
        {{{ footer_rows }}}
      </tfoot>
    </table>
  </div>
  <div>
    {{ pagination }}
  </div>
</div>
